{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping app</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!--align nav to center-->
    <style>
        nav {
            text-align: center;
        }
    </style>
    <nav>
        <a href="{% url 'myapp:index' %}">Home</a>
        <a href="{% url 'myapp:products' %}">Products</a>
        <a href="{% url 'myapp:basket' %}">Basket</a>
        <a href="{% url 'myapp:form' %}">Sign in</a>
    </nav>
    <ul>
        {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'logout' %}?next={{ logged_out.html }}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
  </ul>
    {% block content %}

    {% endblock %}
</body>
</html>