{%extends 'base.html' %}
<br >
{% block content %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link rel="stylesheet" href="{% static 'css/basket.css' %}">
</head>
<body>
    <h2>Your basket</h2>
    <ul>
        {% for product in basket %}
            <li>{{ product.title }} - {{ product.price }}</li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'myapp:clear_basket' %}">
        {% csrf_token %}
        <input type="hidden" name="clear_basket" value="True">
        <button type="submit">Clear Basket</button>
    </form>
</body>
{% endblock %}