{%extends 'base.html' %}
{% block content%}
<title>Register</title>
<h3>Create an account</h3>
<hr>

<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <br >
        {{ field.label }}
        <br >
        {{ field }}
        <br >
    {% endfor %}
    <br >
    <input class="btn btn-secondary" type="submit">
    <button class="btn btn-secondary" type="reset" value="Reset">Reset</button>
</form>

<p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
{% endblock %}