{%extends 'base.html' %}
<br >
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    <br>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Inventory</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><p>{{product.title}}</p></td>
                    <td><p>{{product.price}}</p></td>
                    <td><p>{{product.inventory_status}}</p></td>
                    <td><p>{{product.type|capfirst}}</p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}