{%extends 'base.html' %}
<br >
{% block content %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    <h2>Products</h2>
    <br>
    <div class="container">
        
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Inventory</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <div class="productContainer">
                <tr>
                    <td><p>{{product.title}}</p></td>
                    <td><p>{{product.price}}</p></td>
                    <td><p>{{product.inventory_status|remove_underscores|lower|capfirst}}</p></td>
                    <td><p>{{product.type|capfirst}}</p></td>
                    <td>
                        <form method="POST" action="{% url 'myapp:add_to_basket' %}">
                            {% csrf_token %}
                            <input class="btn btn-secondary" type="hidden" name="product_id" value="{{product.id}}">
                            <input class="btn btn-secondary" type="submit" value="Add to basket">
                        </form>
                </tr>
            </div>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>
{% endblock %}